#tickerbar-wrapper
    display: flex
    justify-content: start
    align-items: end
    overflow-x: scroll
    scrollbar-width: thin
    scrollbar-color: silver black

#tickerbar-wrapper::-webkit-scrollbar
    background-color: black
    height: 0.5rem

#tickerbar-wrapper::-webkit-scrollbar-thumb
    background-color: silver

#tickerbar
    display: flex

.ticker
    display: flex
    flex-direction: column
    justify-content: space-around
    width: 9.5rem
    height: 9.5rem
    font-size: 1rem
    padding: 0 0.015rem
    border: 2px solid black
    border-radius: 5px

.ticker *
    text-align: center

.ticker > div
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: calc( 100% / 3 )
    padding: 0.5rem

.ticker-title
    display: flex
    border-bottom: 1px solid #222

    .ticker-logo
        width: 2rem
        height: 2rem
        border-radius: 50%
        background-color: white

    .ticker-label
        width: 75%
        font-weight: bold
        text-align: end

.ticker > .ticker-price
    display: flex
    justify-content: space-around
    border-bottom: 1px solid #222

    .ticker-price-pct
        justify-self: start
        font-size: 1.2em

    .ticker-price-value
        width: 75%
        font-size: 1.2em
        text-align: end

.ticker-volume-label
    width: 20%
    font-size: 0.8rem

.ticker-volume-value
    width: 80%
    text-align: end

#ticker-add
    flex: 0 0 10rem
    display: flex
    align-items: center

#add-icon
    width: 5rem
    height: 5rem
    background-image: url('../../assets/icons/TICKER-ADD.svg')

//Media queries

@media ( min-width: 768px )
    .ticker
        width: 10rem
        font-size: 1rem
