.modal-overlay
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    display: flex
    justify-content: center
    align-items: center
    transition: opacity 250ms

.modal-window
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    width: 15em
    height: 12em
    padding: 1em .5em
    background-color: darkgrey
    color: black
    border: 1px solid white

.modal-header
    text-align: center

    .modal-title
        font-size: 1.7em

.modal-body
    display: flex
    justify-content: center
    align-items: center

    .select-container
        display: flex
        justify-content: center

        select
            font-size: 1.2em

            option
                font-size: 0.7em

.modal-footer
    display: flex
    justify-content: center

    button
        min-width: 2em
        font-size: 1.4em
        padding: 0.1em

    button:first-child
        margin-right: .2em
