#chart-container
	height: 97%

#bar-wrapper
	display: flex
	justify-content: space-between

#chart-timebar
	display: flex
	justify-content: start

.active
	background-color: gold

#chart-scalebar
	display: flex
	justify-content: end

	button
		font-size: inheirt
