#chart-container
	height: 95%

#bar-wrapper
	display: flex
	justify-content: space-between
	height: 5%

	button
		width: 26px
		font-size: inheirt

#chart-timebar
	display: flex
	justify-content: start

.active
	background-color: gold

#chart-scalebar
	display: flex
	justify-content: end
