body
  box-sizing: border-box
  margin: 0 0
  padding: 0 0

#chart-wrapper
  width: 1000px

#chart-container
  width: 1000px
  height: 500px

#bar-wrapper
  display: flex
  justify-content: space-between
