@import 'tickerbar/tickerbar.sass'
@import 'modal/modal.sass'
@import 'modal/modalAnimation.sass'
@import 'tickerbar/icons.sass'

body
  box-sizing: border-box
  margin: 0 0
  padding: 0 0

#chart-wrapper
  width: 100%

#chart-container
  height: 500px

#bar-wrapper
  display: flex
  justify-content: space-between

#chart-timebar
  display: flex
  justify-content: start
  margin: 0 .5em

#chart-scalebar
  display: flex
  justify-content: end
  margin: 0 .5em

.open
  background-color: black

#loader
  position: fixed
  top: 0
  bottom: 0
  right: 0
  left: 0
  display: none
  justify-content: center
  align-items: center
  background: rgba(0, 0, 0, 0.5)

.lds-circle
  display: inline-block
  transform: translateZ(1px)

  & > div
    display: inline-block
    width: 10vh
    height: 10vh
    margin: 8px
    border-radius: 50%
    background: gold
    animation: lds-circle 3.4s cubic-bezier(0, 0.2, 0.8, 1) infinite
    background-image: url('../../assets/icons/loader.svg')

@keyframes lds-circle
  0%, 100%
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5)
  0%
    transform: rotateY(0deg)
  50%
    transform: rotateY(1080deg)
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1)
  100%
    transform: rotateY(1800deg)
