@import 'chart/chart.sass'
@import 'tickerbar/tickerbar.sass'
@import 'tickerbar/icons.sass'
@import 'modal/modal.sass'
@import 'modal/modalAnimation.sass'
@import 'loader.sass'

$base-color: rgba(0, 0, 0, 1)
$text-color: white
$up-color: rgba(25, 255, 0, 1)
$down-color: rgba(255, 25, 0, 1)

body
  display: flex
  flex-direction: column
  align-items: center
  box-sizing: border-box
  height: 100vh
  margin: 0 0
  padding: 0 0
  background-color: $base-color
  color: $text-color

#chart-wrapper
  width: 100%
  height: 85vh

#tickerbar-wrapper
  display: flex
  justify-content: center
  height: 15vh

#bar-wrapper
  display: flex
  justify-content: space-between
  height: 3%

.modal-open
  background-color: black
